<div id="head">
 <div id="head_cen">
  <h1 class="logo"><a href="index.html">SecureWeb</a></h1>
    <ul class="ul">
     <!--#if expr='"$LOCATION" = "index"' -->
     	<li><a class="active" href="index.html">Home</a></li>
     <!--#else -->
     	<li><a href="index.html">Home</a></li>
     <!--#endif -->
     <!--#if expr='"$LOCATION" = "about"' -->
   		<li><a class="active" href="about.html">ABOUT</a></li>
     <!--#else -->
    	<li><a href="about.html">ABOUT</a></li>
     <!--#endif -->
     
     <!--#if expr='"$LOCATION" = "services"' -->
   		<li><a class="active" href="services.html">SERVICES</a></li>
     <!--#else -->
    	<li><a href="services.html">SERVICES</a></li>
     <!--#endif -->
     
     <!--#if expr='"$LOCATION" = "contact"' -->
   		<li><a class="active" href="contact.html">CONTACT</a></li>
     <!--#else -->
    	<li><a href="contact.html">CONTACT</a></li>
     <!--#endif -->

     <!--#if expr='"$LOCATION" = "admin"' -->
   		<li><a class="active" href="admin.html">ADMIN</a></li>
     <!--#else -->
    	<li><a href="admin.html">ADMIN</a></li>
     <!--#endif -->

     
     <!--#if expr='"$LOCATION" = "signup"' -->
   		<li><a class="active"   href="signup.html">SIGN UP</a></li>
     <!--#else -->
    	<li><a  href="signup.html">SIGN UP</a></li>
     <!--#endif -->
   </ul>
 </div>
</div>
