/************************** group&features table*************************/
.dtctrltable{
  width:100% !important;
}

.rowclickback{
  background-color:#d0e4fe !important;
}

/*****************************dialog **************************************/
.ui-widget-header{
  background: #D3D3D3;
    border:#708090;
    text-align:center;
    margin: 0;
    height:33px;
    color:black;
    /*font-family: serif;*/
    font-size:20px;
}

.ui-widget-content{
  background:#FFFFFF;
  margin:2em;
}
.ui-dialog-buttonpane{
  margin:0;
}
.ui-dialog {
  padding: 0;      /*useless??*/
  box-shadow: 10px 10px 5px #333;
  width:180px;
  overflow:visible;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius:4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius:4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
  border-top-left-radius:4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
   border-top-right-radius:4px;
}
.ui-dialog-buttonpane{
  background:#D3D3D3;
}

/***********************************************************************************/
.dataTables_scrollBody{
  /*height:500px !important;*/
}
.dataTab_bodyHeight{
  height:document.body.clientheight !important;
}

.userprofile_body{
  border: 10px groove #AAA5A5; 
  border-radius:10px !important;
  padding:0px !important;
  overflow:hidden;
}

.userprofile_header{

  background: #F4F4F4 !important;
  height:30px;
  font-size: 16px;
  text-align: left;
  padding-left:20px;
  -webkit-box-shadow: 0 6px 4px -3px #E8E5E5 !important;
  border-radius:0px !important;
}

.userprofile_footer{

  background: #F4F4F4 !important;
  -webkit-box-shadow: 0 -3px  6px #E8E5E5 !important;
  border-radius:0px !important;
  margin-bottom:0px !important;
  height:30px;
  display:inline-block;
  float:left;
  right:0px !important;
  width:100%;
  position:relative;
  padding-bottom:3px !important ;
}

.userprofile_button{
   margin-top:1px !important;
   margin-right:30px !important;
   height:28px;
   width:80px !important;
   font-size: 16px;
}

.processingimg{
 width:70px;
 height:70px;
 display:none;
}