 <ul id="infoPan">
    <li>
     <h3><span>data</span> sharing <img src="images/icon1.png" alt="" /></h3>
     <p>WITNESS helps you share your data.</p>
     <p class="descrip">Data sharing has nenver been easier with WITNESS. Share data with researchers from other institutions, so that that can remotely analyze your datas.</p>
    </li>
    <li>
     <h3><span>data</span> analysis <img src="images/icon2.png" alt="" /></h3>
     <p>WITNESS enables researchers study your data.</p>
     <p class="descrip">Data analysis can be done within your browser. Researchers can specify criteria to focus on the data that they are interested in. It is easy and fast.</p>
    </li>
    <li>
     <h3><span>data</span> privacy <img src="images/icon3.png" alt="" /></h3>
     <p>WITNESS protects your data privacy</p>
     <p class="descrip">Your sensitive data will never leave your server. The non-sensitive aggregate results are the only information to be sent to the users. All communications are protected by SSL encryption.</p>
    </li>
   </ul>