<div id="foot">
 <div id="foot_cen">
 <h6 class ="h6"><a href="index.html">WITNESS</a></h6>
 <ul class = "ul_foot">
     <li><a href="index.html">HOME</a></li>
     <li class="space">|</li>
     <li><a href="about.html">ABOUT</a></li>
     <li class="space">|</li>
     <li><a href="services.html">SERVICES</a></li>
     <li class="space">|</li>
     <li><a class="active" href="contact.html">CONTACT</a></li>
     <li class="space">|</li>
     <li><a class="active" href="http://idash.ucsd.edu">iDASH</a></li>
     <li class="space">|</li>
     <li><a class="active" href="http://www.ouhsc.edu/">OUHSC</a></li>
   </ul>
    <p>© 2015 iDASH DBMI UCSD. Designed by: <a href="http://idash.ucsd.edu" target="_blank">Shuang Wang, Lichang Wang and Xiaoqian Jiang</a></p>
    <div id="clustrmaps-widget"></div><script type="text/javascript">var _clustrmaps = {'url' : 'http://witness.ucsd-dbmi.org', 'user' : 1167388, 'server' : '3', 'id' : 'clustrmaps-widget', 'version' : 1, 'date' : '2015-04-15', 'lang' : 'en', 'corners' : 'square' };(function (){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'http://www3.clustrmaps.com/counter/map.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);})();</script><noscript><a href="http://www3.clustrmaps.com/user/eef11d01c"><img src="http://www3.clustrmaps.com/stats/maps-no_clusters/witness.ucsd-dbmi.org-thumb.jpg" alt="Locations of visitors to this page" /></a></noscript> 
 </div>
 
</div>
